/data/datasets/
/data/daily/
/data/
/twsapi_macunix-2/
/random-stuff/
/.vscode/
/__pycache__/
/Voleon_WorkSample/
/Modules/results/
/*.parquet/
/*.csv/
/*.md/
/.venv/
/data/
/scripts/bash_scripts/
/archive/
/results_model_test/
/results_model_test_60/
/results_model_test_100/
# large data
/data_cleaning_practice/
/scripts/Cluster/
/Users/phillip/Desktop/Moon2/scripts/Clustering/input_data/
/Users/phillip/Desktop/Moon2/scripts/Clustering/output_data/