/data/datasets/
/data/daily/
/twsapi_macunix-2/
/random-stuff/
/.vscode/
/__pycache__/
/Voleon_WorkSample/
/Modules/results/
/*.parquet/
/*.csv/
/*.md/
/.venv/
/data/
/archive/

# large data
/data_cleaning_practice/
